[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
drf-spectacular = "*"
django-filter = "*"
dj-rest-auth = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.12"
